@tailwind base;
@tailwind components;
@tailwind utilities;
/* Sidebar transition */
.sidebar {
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar-hidden {
    transform: translateX(-100%);
  }
  
  .sidebar-visible {
    transform: translateX(0);
  }
